<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EFHSIS</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/adminLTE/plugins/fontawesome-free/css/all.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/adminLTE/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/adminLTE/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/adminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Date Range Picker-->
    <link rel="stylesheet" href="~/adminLTE/plugins/daterangepicker_old/daterangepicker-bs3.css">

</head>
<body>
    <div class="wrapper">
        <partial name="~/Views/Shared/navbar.cshtml" />
        @RenderBody()
        <!-- Main Footer -->
        <footer class="main-footer">
            <strong>Copyright &copy; @DateTime.Now.Year <a href="http://www.ro7.doh.gov.ph/" target="_blank">Department of Health - Central Visayas Center for Health Development Region 7</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 2.0.0
            </div>
        </footer>
    </div><!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/adminLTE/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/adminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/adminLTE/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/adminLTE/dist/js/adminlte.js"></script>

    <!-- CANVASS CHART -->
    <script src="~/js/canvasjs.min.js"></script>

    <!-- Date Range Picker -->
    <script src="~/adminLTE/plugins/daterangepicker_old/moment.min.js"></script>
    <script src="~/adminLTE/plugins/daterangepicker_old/daterangepicker.js"></script>
    <script>
        @{
            int year = DateTime.Now.Year;
            DateTime firstDay = new DateTime(year, 1, 1);
            DateTime lastDay = new DateTime(year, 12, 31);
        }
        $('#filter').daterangepicker({
            "singleDatePicker": false,
            "startDate": "@firstDay",
            "endDate": "@lastDay"
        })
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
